/* src/css/styles.css */
#loginbutton {
    background-color: brown !important;
    border-color: rgb(250, 247, 247) !important;
}


#drawingtable td {
    width: 200px;
    white-space: nowrap;
}

#devicearrows {
    font-size: 30px;
}

#sourceicon{
    font-size: 50px;
}

#devicename {
    font-size: 10px;
}

/* In your CSS file */
.custom-sidebar {
    background-color: #414066;
    /* Replace with your preferred shade of blue */
    color: white;
}


.custom-topbar {
    background-color: #383758;
    /* Replace with your preferred shade of blue */
    color: white;
}