/* src/css/styles.css */
#loginbutton {
    background-color: brown !important;
    border-color: rgb(250, 247, 247) !important;
}


#drawingtable td {
    width: 360px;
    white-space: nowrap;
    height: 100px;
}

#devicearrows {
    font-size: 30px;
}

#sourceicon {
    font-size: 50px;
}

#devicename {
    font-size: 10px;
}

#devicecables {
    font-size: 40px;
    width: 100%;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
}


/* In your CSS file */
.custom-sidebar {
    background-color: #414066;
    /* Replace with your preferred shade of blue */
    color: white;
}


.custom-topbar {
    background-color: #383758;
    /* Replace with your preferred shade of blue */
    color: white;
}

.vertical-line {
    width: 3px;
    height: 100%;
    background-color: black;
}

.line-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    height: 100%;
}

.horizontal-line {
    width: 100%;
    /* Full width of the cell */
    height: 2px;
    /* Thickness of the line */
    background-color: black;
    /* Line color */
    margin: 10px 0;
    /* Adds spacing above and below */
    margin-top: 50px;
    /* Increases space above the line to move it lower */
    margin-bottom: 0;
    /* Optional: Adjust if needed */
}